body {
    margin: 20px;
  
    font-family: Brush Script MT , Geneva, Tahoma, sans-serif;
    background-color: #D4A373;
}

.avatar {
    width: 50%;
    height: 50%;
}

.card {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    
    padding: 20px;
    
    display: flex;
    
    justify-content: space-around;
    
    text-align: center;
    
    background: #CCD5AE;
    color: #FEFAE0;
    
    border-bottom: 6px solid #E9EDC9;
    
    border-radius: 25px;
    
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.card:hover {
  background-color: #fbc4ab;
}

.border-blue {
    border: 1px dotted blue;
}


